:root {
    --red: #e44232;
    --whiteText: #fff;
    --font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    margin: 0;
    font-family: var(--font);
}

button {
    cursor: pointer;
    border-radius: 10px;
}

#content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#heading {
    color: var(--whiteText);
    background-color: var(--red);
    font-size: 2rem;
    padding: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main {
    display: flex;
    flex-grow: 10;
}

#sidebar,
#projectDisplay {
    color: var(--red);
}

#sidebar {
    display: flex;
    flex-direction: column;
    padding: 3vh 3vw;
    row-gap: 3vh;
    background-color: lightgrey;
}

form{
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    padding-bottom: 2vh;
}

input {
    padding: .5vh 0vw;
}

#projectDisplay {
    padding: 2vh 3vw;
    flex-grow: 10;
}

.projectDiv {
    padding-top: 1vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vh 1vw;
}

#currentProject,
#allProjects {
    padding-bottom: 1vh;
    border-bottom: 2px solid black;
    font-size: 2rem;
}

#newTaskForm {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    column-gap: 1vw;
    padding-top: 2vh;
}

#newTaskForm > div {
    display: flex;
    flex-direction: column;
}

select, 
input {
    padding: 1vh 0vh;
}

.complete {
    background-color: green;
}